/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Color palette from logo */
/* #8f8e8e,rgb(143,142,142)->its first color */
/* #e2dddd,rgb(226,221,221)-->its second color */
/* #c54746,rgb(197,71,70)--->its third color */

/* Apply default styles to all elements */
html, body {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  
    margin: 0;
    padding: 0;
color: #333;
}




/* Specific styles for links */
a {
 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container styling */

/* Navbar styling */
.navbar {
    font-size: 14px;
    width: 100%;
    z-index: 1000; 
}
 @media (max-width: 768px) {

     /* Disable animations on mobile */
     [data-aos],
     [data-aos-id] {
         opacity: 1 !important;
         visibility: visible !important;
     }
 }
.bg-amit {
 background-color: rgba(51, 51, 51);
    /* Set background color to black */
    color: #d3d3d3;
    /* Text color */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

    /* Optional: Add border radius for rounded corners */
}
.service-card {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.explore-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 100%);
    /* Start below the card */
    transition: transform 0.3s ease, opacity 0.3s ease;

    /* Button text color */
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    /* Larger text for better visibility */
    border: none;
    /* No border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
    opacity: 0;
    /* Hidden by default */
    z-index: 1;
    /* Ensure the button is above the overlay */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker semi-transparent black */
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.3s ease;
    z-index: 0;
    /* Keep overlay below button */
}

.service-card:hover .overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.service-card:hover .explore-button {
    transform: translate(-50%, 0);
    /* Move button into view */
    opacity: 1;
    /* Show button on hover */
}
li.point{
    width: 700px;
   
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust opacity and color as needed */
}
/* Navbar link styling */
.navbar-nav .nav-link {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Navbar link hover underline effect */
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Navbar link hover effect */
.navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
    
    text-decoration: none;
}

/* Sub-navigation styling */
.navbar-nav .sub-nav-item {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 0px; /* Ensure there's a gap between main and sub-nav */
    width: 200px; /* Adjust the width as needed */
    opacity: 0; /* Initially hide with opacity */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Smooth opacity transition */
}

/* Display sub-navigation on hover */
.navbar-nav .nav-item:hover .sub-nav-item {
    display: block;
    opacity: 1; /* Show with full opacity */
    visibility: visible; /* Make visible */
    transition: opacity 0.3s ease, visibility 0s linear; /* Smooth transition */
 
}

/* Sub-navigation list styling */
.navbar-nav .sub-nav-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Sub-navigation list item styling */
.navbar-nav .sub-nav-item ul li {
    text-align: center;
    padding:10px 20px;
    white-space: nowrap;
    transition: background-color 0.3s ease; /* Smooth background-color transition */
    font-size: 14px; /* Adjust font size for sub-menu items */
    color: #000;
    font-weight: 200;
}
.text-amit{
    color: #c54746;
}
/* Sub-navigation list item hover effect */
.navbar-nav .sub-nav-item ul li:hover {
    background-color: #c54746 !important; /* Light gray background on hover */
    color: #ffffff !important; /* Text color change on hover */
}

/* Keep sub-navigation open when hovering over it */
.navbar-nav .sub-nav-item:hover {

    display: block;

    visibility: visible;
}

.card{
    color: #666666;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Ensure sub-navigation stays open when hovering over list items */
.navbar-nav .sub-nav-item ul li:hover {
    background-color: #f1f1f1;  
    color: #c54746;
}

/* Dropdown menu styling */
.dropdown-menu .dropdown-item:hover {
    background-color: #c54746;
    color: #fff;
    text-decoration: none;
}
/* Hero Section Styles */
.hero-section {
    height: 70vh; /* Adjust height as needed */
    background-color: #f8f9fa; /* Optional: Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel Styles */
.carousel {
    width: 100%;
    position: relative;
}

.carousel-item img {
    height: 70vh; /* Set height of carousel images */
    object-fit: cover; /* Ensure images cover the entire carousel item */
    -webkit-backdrop-filter: blur(10px); /* Apply backdrop blur for Safari */
    backdrop-filter: blur(10px) ; /* Apply backdrop blur for other browsers */
    position: relative; /* Ensure proper stacking context */
    z-index: 0; /* Ensure the images are correctly layered */
    transition: transform 0.5s ease-in-out; /* Smooth zoom transition */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Box shadow for images */
}

.carousel-item img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.carousel-caption {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7); /* Darker background */
    padding: 0px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    color: rgb(65, 65, 65); /* Caption text color */
    width: 40%; /* Adjust caption width */
    text-align: center; /* Center align caption text */
}


.carousel-caption:hover {
    background: rgba(0, 0, 0, 0.9); /* Darker background on hover */
    color: white;
}



.big-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #c54746; /* Circle background color */
    color: #fff; /* Circle text color */
    font-size: 36px;
    line-height: 120px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for circle */
}

.chart ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

.point {
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff; /* Point background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for points */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.point:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
}

.icon {
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e2dddd; /* Circle background color */
    color: #c54746; /* Circle text color */
    font-size: 18px;
    text-align: center;
    margin-right: 20px;
}

.content {
    flex: 0 0 1;
  
}
.containers-d {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.content h5 {
    margin-bottom: 5px;
    color: #333; /* Heading text color */
}
.content h5::first-letter{
    color: #c54746;
}
.content p {
    color: #666666 !important; /* Text color for point content */
    margin: 0;
}
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #000;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
    color: #ffffff !important;
    /* Grey background color */
}
 Hero Section Styles */
/* Media query for smaller screens */
@media (max-width: 768px) {
    .waves {
        height: 100px;
        /* Adjust height for smaller screens */
    }

    .waves::before,
    .waves::after {
        width: 200vw;
        /* Adjust width for smaller screens */
        height: 100vw;
        /* Adjust height for smaller screens */
        top: -38vw;
        /* Adjust top position for smaller screens */
    }
}
:root {
    --color: #c54746;
}

.hero {
    position: relative;
    background: #333333;
    color: #ffffff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    /* Ensure the hero section is on top */
}

.hero img {
    max-width: 150px;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    /* Ensure the logo is on top */
}

.hero h2 {
    font-size: 52px;
    margin: 10px 0;
    color: #fafafa;
   font-weight: 500;
    z-index: 3;
    /* Ensure the heading is on top */
}

.hero p {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
    z-index: 3;
    /* Ensure the paragraph is on top */
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    z-index: 1;
    /* Ensure the waves are below the hero section */
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -58vw;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 0;
    /* Ensure the animated waves are at the lowest layer */
}

.waves::before {
    border-radius: 44%;
    background: rgb(51,
        51,
        51);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
/* Media query for smaller screens */
@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #333333;
        /* Adjust navbar background for contrast */
        padding: 15px;
        /* Add padding for better touch target */
    }

    .navbar-nav {
        width: 100%;
        /* Ensure full width for dropdown on mobile */
        text-align: center;
        /* Center align items */
    }

    .navbar-nav .nav-item {
        display: block;
        /* Display block for full width */
        margin-bottom: 10px;
        /* Add spacing between items */
    }

    .waves {
        height: 200px;
        /* Adjust height for smaller screens */
    }

    .waves::before,
    .waves::after {
        width: 200vw;
        /* Adjust width for smaller screens */
        height: 200vw;
        /* Adjust height for smaller screens */
        top: -38vw;
        /* Adjust top position for smaller screens */
    }
}
  .vision-mission {
      padding: 80px 0;
      background-image: url('path_to_your_background_image.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .vision-mission .card {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .vision-mission h2 {
      color: #c54746;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
  }

  .vision-mission .card-body {
      padding: 30px;
  }

  .mission-list,
  .vision-list {
      list-style: none;
      padding-left: 0;
  }

  .mission-list li,
  .vision-list li {
      margin-bottom: 20px;
      position: relative;
      padding-left: 30px;
  }

  .mission-list li:before,
  .vision-list li:before {
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 18px;
      color: #c54746;
      position: absolute;
      left: 0;
      top: -1px;
  }
  

  @media (max-width: 768px) {

      .mission-list li,
      .vision-list li {
          padding-left: 25px;
      }

      .mission-list li:before,
      .vision-list li:before {
          font-size: 16px;
      }
  }
.testimonial-card {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 15px;
    border-radius: 20px;
    /* More subtle rounded edges */
    display: flex;
    background-color: #ffffff;
    /* White background for contrast */
    flex-direction: column;
    gap: 10px;
    /* Increased gap for better spacing */
    justify-content: center;
    border-left: 5px solid #c54746;
    /* Left border for emphasis */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth hover effects */
}

.testimonial-card:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow on hover */
}

.testimonial-text {
    font-size: 16px;
    /* Slightly larger text for readability */
    margin: 2px;
    /* Adjusted margins */
    color: #333;
    /* Darker text color for better readability */
}

.testimonial-author {
    font-weight: bold;
    color: #555;
    text-align: right;
    /* Align author to the right */
}

/* Adjustments for icon alignment */
.d-flex.align-items-start {
    display: flex;
    align-items: center;
    /* Center icon and text vertically */
}

.carousel-item {
    transition: transform 2s ease, opacity .5s ease-out;
}

.color-amit {
    color: #c54746;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    /* Additional space below the title */
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .accordion-button {
        font-size: 16px;
        /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .accordion-button {
        font-size: 14px;
        /* Further adjust for very small screens */
    }

    .accordion-body {
        padding: 10px;
        /* Reduce padding for smaller screens */
    }
}
.accordion-button {
    background-color: #f8f9fa !important;
    /* Default background */
    color: #333 !important;
    /* Default text color */
    border: 1px solid #ced4da !important;
    /* Default border color */
}

.accordion-button:focus {
    box-shadow: 0 0 10px rgba(197, 71, 70, 0.8) !important;
    /* Custom red shadow */
    outline: none !important;
    /* Remove default outline */
    border-color: #c54746 !important;
    /* Change border color on focus */
}

.accordion-button.active {
    background-color: #e9ecef !important;
    /* Active background color */
    border-color: #c54746 !important;
    /* Active border color */
}

.accordion-button:not(.active):hover {
    background-color: #f1f1f1 !important;
    /* Hover background color */
}
.footer-background {
    background-image: url('./assets/images/deefoo.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
    /* Ensure this color is readable */
}

.footer-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Make this more transparent */
    z-index: 1;
    /* Ensure overlay is above background */
}

.footer-background .container {
    position: relative;
    z-index: 2;
    /* Ensure content is above overlay */
}
.footer-background .container h5,
.footer-background .container a {
    text-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.7);
    /* Add a shadow effect */
}
.text-grey{
    color: #8f8f8f;
}
.img-fluid {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
    /* Maintain the aspect ratio of the image */
    display: block;
    /* Ensure the image behaves like a block element */
    margin: 0 auto;
    /* Center the image horizontally */
    transition: transform 0.3s;
    /* Add a transition for hover effect */
}

.img-fluid:hover {
    transform: scale(1.05);
    /* Slightly enlarge the image on hover */
}