/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Color palette from logo */
/* #8f8e8e,rgb(143,142,142)->its first color */
/* #e2dddd,rgb(226,221,221)-->its second color */
/* #c54746,rgb(197,71,70)--->its third color */

/* Apply default styles to all elements */
html, body {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  
    margin: 0;
    padding: 0;
    color: #666666;
}




/* Specific styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container styling */

/* Navbar styling */
.navbar {
    font-size: 14px;
    width: 100%;
    z-index: 1000; 
}

li.point{
    width: 700px;
   
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust opacity and color as needed */
}
/* Navbar link styling */
.navbar-nav .nav-link {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Navbar link hover underline effect */
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Navbar link hover effect */
.navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
    
    text-decoration: none;
}

/* Sub-navigation styling */
.navbar-nav .sub-nav-item {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 0px; /* Ensure there's a gap between main and sub-nav */
    width: 200px; /* Adjust the width as needed */
    opacity: 0; /* Initially hide with opacity */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Smooth opacity transition */
}

/* Display sub-navigation on hover */
.navbar-nav .nav-item:hover .sub-nav-item {
    display: block;
    opacity: 1; /* Show with full opacity */
    visibility: visible; /* Make visible */
    transition: opacity 0.3s ease, visibility 0s linear; /* Smooth transition */
 
}

/* Sub-navigation list styling */
.navbar-nav .sub-nav-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Sub-navigation list item styling */
.navbar-nav .sub-nav-item ul li {
    text-align: center;
    padding:10px 20px;
    white-space: nowrap;
    transition: background-color 0.3s ease; /* Smooth background-color transition */
    font-size: 14px; /* Adjust font size for sub-menu items */
    color: #000;
    font-weight: 200;
}
.text-amit{
    color: #c54746;
}
/* Sub-navigation list item hover effect */
.navbar-nav .sub-nav-item ul li:hover {
    background-color: #c54746 !important; /* Light gray background on hover */
    color: #ffffff !important; /* Text color change on hover */
}

/* Keep sub-navigation open when hovering over it */
.navbar-nav .sub-nav-item:hover {

    display: block;

    visibility: visible;
}

.card{
    color: #666666;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Ensure sub-navigation stays open when hovering over list items */
.navbar-nav .sub-nav-item ul li:hover {
    background-color: #f1f1f1;  
    color: #c54746;
}

/* Dropdown menu styling */
.dropdown-menu .dropdown-item:hover {
    background-color: #c54746;
    color: #fff;
    text-decoration: none;
}
/* Hero Section Styles */
.hero-section {
    height: 70vh; /* Adjust height as needed */
    background-color: #f8f9fa; /* Optional: Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel Styles */
.carousel {
    width: 100%;
    position: relative;
}

.carousel-item img {
    height: 70vh; /* Set height of carousel images */
    object-fit: cover; /* Ensure images cover the entire carousel item */
    -webkit-backdrop-filter: blur(10px); /* Apply backdrop blur for Safari */
    backdrop-filter: blur(10px) ; /* Apply backdrop blur for other browsers */
    position: relative; /* Ensure proper stacking context */
    z-index: 0; /* Ensure the images are correctly layered */
    transition: transform 0.5s ease-in-out; /* Smooth zoom transition */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Box shadow for images */
}

.carousel-item img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.carousel-caption {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7); /* Darker background */
    padding: 0px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    color: rgb(65, 65, 65); /* Caption text color */
    width: 40%; /* Adjust caption width */
    text-align: center; /* Center align caption text */
}


.carousel-caption:hover {
    background: rgba(0, 0, 0, 0.9); /* Darker background on hover */
    color: white;
}

.center-heading {
    text-align: center;
    margin-bottom: 30px;
}

.big-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #c54746; /* Circle background color */
    color: #fff; /* Circle text color */
    font-size: 36px;
    line-height: 120px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for circle */
}

.chart ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

.point {
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff; /* Point background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for points */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.point:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
}

.icon {
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e2dddd; /* Circle background color */
    color: #c54746; /* Circle text color */
    font-size: 18px;
    text-align: center;
    margin-right: 20px;
}

.content {
    flex: 0 0 1;
  
}
.containers-d {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.content h5 {
    margin-bottom: 5px;
    color: #333; /* Heading text color */
}
.content h5::first-letter{
    color: #c54746;
}
.content p {
    color: #666666 !important; /* Text color for point content */
    margin: 0;
}
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #000;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
    color: #ffffff !important;
    /* Grey background color */
}

/* Hero Section Styles */

:root {
    --color: #c54746;
}

.hero {
    position: relative;
    background: #333333;
    color: #ffffff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    /* Ensure the hero section is on top */
}

.hero img {
    max-width: 150px;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    /* Ensure the logo is on top */
}

.hero h2 {
    font-size: 48px;
    margin: 10px 0;
    color: #fafafa;
   
    z-index: 3;
    /* Ensure the heading is on top */
}

.hero p {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
    z-index: 3;
    /* Ensure the paragraph is on top */
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    z-index: 1;
    /* Ensure the waves are below the hero section */
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -58vw;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 0;
    /* Ensure the animated waves are at the lowest layer */
}

.waves::before {
    border-radius: 44%;
    background: rgb(104, 104, 104);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(104, 104, 104, 0.5);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}